@import '../../Layout/GlobalStyle/_variables.scss';
.source_container {
  // background-color: rgb(247, 250, 255);

  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 15px;
  h5 {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-secondary-text);

    margin-bottom: 5px;
    span {
      color: var(--color-primary);

      font-size: 1rem;
      margin-right: 5px;
    }
  }
}
.image {
  max-width: 20px;
  border-radius: 50%;
}
.content_container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border-radius: 50px;
  background:$gradient;
  cursor: pointer;
  transition: all ease-in 0.3s;
  &:hover{
    background:$gradientTextBackground;

  }
  // .source_name {
  //   font-size: 0.8rem;
  //   font-style: italic;
  //   font-weight: 600;
  //   color: var(--color-tertiary-text);
  //   margin-bottom: 0;
  //   padding-bottom: 0;
  // }
  .source_url {
    font-size: 0.6rem;

    font-weight: 400;
    color: white;
    text-decoration: none;

    padding: 3px 10px;
    border-radius: 50px;
  }
}

.right_container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
