
$gradient: linear-gradient(
  90deg,
  rgba(59, 0, 255, 1) 0%,
  rgba(102, 0, 255, 1) 100%
);

$gradientTextBackground: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$gradientHeadingBackground:  linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);

